WinForm/Service References/NhaSXServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NhaSXService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INhaSXService1_HienThiNhaSX_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiNhaSX" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_HienThiNhaSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiNhaSXResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_ThemNSX_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemNSX" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_ThemNSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemNSXResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_SuaNSX_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaNSX" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_SuaNSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaNSXResponse" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_XoaNSX_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaNSX" />
  </wsdl:message>
  <wsdl:message name="INhaSXService1_XoaNSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaNSXResponse" />
  </wsdl:message>
  <wsdl:portType name="INhaSXService1">
    <wsdl:operation name="HienThiNhaSX">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSXService1/HienThiNhaSX" message="tns:INhaSXService1_HienThiNhaSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSXService1/HienThiNhaSXResponse" message="tns:INhaSXService1_HienThiNhaSX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemNSX">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSXService1/ThemNSX" message="tns:INhaSXService1_ThemNSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSXService1/ThemNSXResponse" message="tns:INhaSXService1_ThemNSX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaNSX">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSXService1/SuaNSX" message="tns:INhaSXService1_SuaNSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSXService1/SuaNSXResponse" message="tns:INhaSXService1_SuaNSX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaNSX">
      <wsdl:input wsaw:Action="http://tempuri.org/INhaSXService1/XoaNSX" message="tns:INhaSXService1_XoaNSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhaSXService1/XoaNSXResponse" message="tns:INhaSXService1_XoaNSX_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INhaSXService1" type="tns:INhaSXService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiNhaSX">
      <soap:operation soapAction="http://tempuri.org/INhaSXService1/HienThiNhaSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNSX">
      <soap:operation soapAction="http://tempuri.org/INhaSXService1/ThemNSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNSX">
      <soap:operation soapAction="http://tempuri.org/INhaSXService1/SuaNSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNSX">
      <soap:operation soapAction="http://tempuri.org/INhaSXService1/XoaNSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhaSXService1">
    <wsdl:port name="BasicHttpBinding_INhaSXService1" binding="tns:BasicHttpBinding_INhaSXService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/NhaSXService1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>