WinForm/Service References/NhaSXServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" />
  <xs:element name="HienThiNhaSX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiNhaSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="HienThiNhaSXResult" nillable="true" type="q1:ArrayOfNhaSX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="nsx" nillable="true" type="q2:NhaSX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNSXResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="nsx" nillable="true" type="q3:NhaSX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNSXResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="nsx" nillable="true" type="q4:NhaSX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNSXResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>