WinForm/Service References/CtPhieuNhapServiceReference/WcfUngDungWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CtPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGiaNhap" type="xs:float" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuongNhap" type="xs:int" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CtPhieuNhap" nillable="true" type="tns:CtPhieuNhap" />
  <xs:complexType name="ArrayOfCtPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CtPhieuNhap" nillable="true" type="tns:CtPhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCtPhieuNhap" nillable="true" type="tns:ArrayOfCtPhieuNhap" />
</xs:schema>