WebForm/Service References/TonKhoService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTonKho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TonKho" nillable="true" type="tns:TonKho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTonKho" nillable="true" type="tns:ArrayOfTonKho" />
  <xs:complexType name="TonKho">
    <xs:sequence>
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuongTon" type="xs:int" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThoiGian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TonKho" nillable="true" type="tns:TonKho" />
</xs:schema>