WebForm/Service References/TonKhoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TonKhoService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITonKhoService1_SoLuongTonKho_SPID_InputMessage">
    <wsdl:part name="parameters" element="tns:SoLuongTonKho_SPID" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_SoLuongTonKho_SPID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoLuongTonKho_SPIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_HienThiTonKho_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiTonKho" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_HienThiTonKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiTonKhoResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKho_SPID_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKho_SPID" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKho_SPID_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKho_SPIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoTG_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoTG" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoTG_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoTGResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoKhoangTG_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoKhoangTG" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoKhoangTG_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoKhoangTGResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoSoLuong_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoSoLuong" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_TimKiemTonKhoTheoSoLuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemTonKhoTheoSoLuongResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_ThemMoi_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoi" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_ThemMoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoiResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_NhapKho_InputMessage">
    <wsdl:part name="parameters" element="tns:NhapKho" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_NhapKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:NhapKhoResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_XuatKho_InputMessage">
    <wsdl:part name="parameters" element="tns:XuatKho" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_XuatKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:XuatKhoResponse" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_XoaTonKho_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaTonKho" />
  </wsdl:message>
  <wsdl:message name="ITonKhoService1_XoaTonKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaTonKhoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITonKhoService1">
    <wsdl:operation name="SoLuongTonKho_SPID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/SoLuongTonKho_SPID" message="tns:ITonKhoService1_SoLuongTonKho_SPID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/SoLuongTonKho_SPIDResponse" message="tns:ITonKhoService1_SoLuongTonKho_SPID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HienThiTonKho">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/HienThiTonKho" message="tns:ITonKhoService1_HienThiTonKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/HienThiTonKhoResponse" message="tns:ITonKhoService1_HienThiTonKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKho_SPID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKho_SPID" message="tns:ITonKhoService1_TimKiemTonKho_SPID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKho_SPIDResponse" message="tns:ITonKhoService1_TimKiemTonKho_SPID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoTG">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoTG" message="tns:ITonKhoService1_TimKiemTonKhoTheoTG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoTGResponse" message="tns:ITonKhoService1_TimKiemTonKhoTheoTG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoKhoangTG">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoKhoangTG" message="tns:ITonKhoService1_TimKiemTonKhoTheoKhoangTG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoKhoangTGResponse" message="tns:ITonKhoService1_TimKiemTonKhoTheoKhoangTG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoSoLuong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoSoLuong" message="tns:ITonKhoService1_TimKiemTonKhoTheoSoLuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoSoLuongResponse" message="tns:ITonKhoService1_TimKiemTonKhoTheoSoLuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemMoi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/ThemMoi" message="tns:ITonKhoService1_ThemMoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/ThemMoiResponse" message="tns:ITonKhoService1_ThemMoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NhapKho">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/NhapKho" message="tns:ITonKhoService1_NhapKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/NhapKhoResponse" message="tns:ITonKhoService1_NhapKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XuatKho">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/XuatKho" message="tns:ITonKhoService1_XuatKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/XuatKhoResponse" message="tns:ITonKhoService1_XuatKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaTonKho">
      <wsdl:input wsaw:Action="http://tempuri.org/ITonKhoService1/XoaTonKho" message="tns:ITonKhoService1_XoaTonKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITonKhoService1/XoaTonKhoResponse" message="tns:ITonKhoService1_XoaTonKho_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITonKhoService1" type="tns:ITonKhoService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SoLuongTonKho_SPID">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/SoLuongTonKho_SPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiTonKho">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/HienThiTonKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKho_SPID">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/TimKiemTonKho_SPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoTG">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoTG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoKhoangTG">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoKhoangTG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemTonKhoTheoSoLuong">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/TimKiemTonKhoTheoSoLuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemMoi">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/ThemMoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhapKho">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/NhapKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XuatKho">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/XuatKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaTonKho">
      <soap:operation soapAction="http://tempuri.org/ITonKhoService1/XoaTonKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TonKhoService1">
    <wsdl:port name="BasicHttpBinding_ITonKhoService1" binding="tns:BasicHttpBinding_ITonKhoService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/TonKhoService1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>