WinForm/Service References/SanPhamServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SanPhamService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamFull_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamFull" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamFullResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSPMoi_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSPMoi" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSPMoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSPMoiResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamCungLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamCungLoai" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamCungLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamCungLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamNhaSX_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamNhaSX" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_HienThiSanPhamNhaSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiSanPhamNhaSXResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_TimKiemSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_TimKiemSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ChiTietSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:ChiTietSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ChiTietSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChiTietSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ThongTinNhapSP_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNhapSP" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ThongTinNhapSP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNhapSPResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ThemSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_ThemSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SuaSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SuaSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_XoaSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_XoaSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Spnew_InputMessage">
    <wsdl:part name="parameters" element="tns:Spnew" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Spnew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpnewResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Spfea_InputMessage">
    <wsdl:part name="parameters" element="tns:Spfea" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Spfea_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpfeaResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Sprun_InputMessage">
    <wsdl:part name="parameters" element="tns:Sprun" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Sprun_OutputMessage">
    <wsdl:part name="parameters" element="tns:SprunResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpAcer_InputMessage">
    <wsdl:part name="parameters" element="tns:SpAcer" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpAcer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpAcerResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpSam_InputMessage">
    <wsdl:part name="parameters" element="tns:SpSam" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpSam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpSamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpHP_InputMessage">
    <wsdl:part name="parameters" element="tns:SpHP" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpHP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpHPResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpDell_InputMessage">
    <wsdl:part name="parameters" element="tns:SpDell" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpDell_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpDellResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpApple_InputMessage">
    <wsdl:part name="parameters" element="tns:SpApple" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_SpApple_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpAppleResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Category_InputMessage">
    <wsdl:part name="parameters" element="tns:Category" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Category_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:Detail" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Searchid_InputMessage">
    <wsdl:part name="parameters" element="tns:Searchid" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Searchid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchidResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_listpro_InputMessage">
    <wsdl:part name="parameters" element="tns:listpro" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService1_listpro_OutputMessage">
    <wsdl:part name="parameters" element="tns:listproResponse" />
  </wsdl:message>
  <wsdl:portType name="ISanPhamService1">
    <wsdl:operation name="HienThiSanPhamFull">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamFull" message="tns:ISanPhamService1_HienThiSanPhamFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamFullResponse" message="tns:ISanPhamService1_HienThiSanPhamFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HienThiSPMoi">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSPMoi" message="tns:ISanPhamService1_HienThiSPMoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSPMoiResponse" message="tns:ISanPhamService1_HienThiSPMoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HienThiSanPhamCungLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamCungLoai" message="tns:ISanPhamService1_HienThiSanPhamCungLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamCungLoaiResponse" message="tns:ISanPhamService1_HienThiSanPhamCungLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HienThiSanPhamNhaSX">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamNhaSX" message="tns:ISanPhamService1_HienThiSanPhamNhaSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/HienThiSanPhamNhaSXResponse" message="tns:ISanPhamService1_HienThiSanPhamNhaSX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/TimKiemSanPham" message="tns:ISanPhamService1_TimKiemSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/TimKiemSanPhamResponse" message="tns:ISanPhamService1_TimKiemSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChiTietSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/ChiTietSanPham" message="tns:ISanPhamService1_ChiTietSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/ChiTietSanPhamResponse" message="tns:ISanPhamService1_ChiTietSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongTinNhapSP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/ThongTinNhapSP" message="tns:ISanPhamService1_ThongTinNhapSP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/ThongTinNhapSPResponse" message="tns:ISanPhamService1_ThongTinNhapSP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/ThemSanPham" message="tns:ISanPhamService1_ThemSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/ThemSanPhamResponse" message="tns:ISanPhamService1_ThemSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SuaSanPham" message="tns:ISanPhamService1_SuaSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SuaSanPhamResponse" message="tns:ISanPhamService1_SuaSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/XoaSanPham" message="tns:ISanPhamService1_XoaSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/XoaSanPhamResponse" message="tns:ISanPhamService1_XoaSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Spnew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Spnew" message="tns:ISanPhamService1_Spnew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpnewResponse" message="tns:ISanPhamService1_Spnew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Spfea">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Spfea" message="tns:ISanPhamService1_Spfea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpfeaResponse" message="tns:ISanPhamService1_Spfea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sprun">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Sprun" message="tns:ISanPhamService1_Sprun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SprunResponse" message="tns:ISanPhamService1_Sprun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpAcer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SpAcer" message="tns:ISanPhamService1_SpAcer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpAcerResponse" message="tns:ISanPhamService1_SpAcer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpSam">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SpSam" message="tns:ISanPhamService1_SpSam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpSamResponse" message="tns:ISanPhamService1_SpSam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpHP">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SpHP" message="tns:ISanPhamService1_SpHP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpHPResponse" message="tns:ISanPhamService1_SpHP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpDell">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SpDell" message="tns:ISanPhamService1_SpDell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpDellResponse" message="tns:ISanPhamService1_SpDell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpApple">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/SpApple" message="tns:ISanPhamService1_SpApple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SpAppleResponse" message="tns:ISanPhamService1_SpApple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Category">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Category" message="tns:ISanPhamService1_Category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/CategoryResponse" message="tns:ISanPhamService1_Category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Detail" message="tns:ISanPhamService1_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/DetailResponse" message="tns:ISanPhamService1_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Searchid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Searchid" message="tns:ISanPhamService1_Searchid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/SearchidResponse" message="tns:ISanPhamService1_Searchid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Create" message="tns:ISanPhamService1_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/CreateResponse" message="tns:ISanPhamService1_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Edit" message="tns:ISanPhamService1_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/EditResponse" message="tns:ISanPhamService1_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/Delete" message="tns:ISanPhamService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/DeleteResponse" message="tns:ISanPhamService1_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listpro">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService1/listpro" message="tns:ISanPhamService1_listpro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService1/listproResponse" message="tns:ISanPhamService1_listpro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISanPhamService1" type="tns:ISanPhamService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiSanPhamFull">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/HienThiSanPhamFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSPMoi">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/HienThiSPMoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSanPhamCungLoai">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/HienThiSanPhamCungLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSanPhamNhaSX">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/HienThiSanPhamNhaSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/TimKiemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiTietSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/ChiTietSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongTinNhapSP">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/ThongTinNhapSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/ThemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SuaSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/XoaSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Spnew">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Spnew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Spfea">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Spfea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sprun">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Sprun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpAcer">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SpAcer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpSam">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SpSam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpHP">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SpHP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpDell">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SpDell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpApple">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/SpApple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Category">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Detail">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Searchid">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Searchid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listpro">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService1/listpro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SanPhamService1">
    <wsdl:port name="BasicHttpBinding_ISanPhamService1" binding="tns:BasicHttpBinding_ISanPhamService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/SanPhamService1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>