WebForm/Service References/CTDHService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" />
  <xs:element name="HienThiCtDonDH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="ct" nillable="true" type="q1:CtDonDH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiCtDonDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="HienThiCtDonDHResult" nillable="true" type="q2:ArrayOfCtDonDH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="ct" nillable="true" type="q3:CtDonDH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Xoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="ct" nillable="true" type="q4:CtDonDH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Searid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" minOccurs="0" name="SearidResult" nillable="true" type="q5:CtDonDH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>