WebForm/Service References/CTDHService/WcfUngDungWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CtDonDH">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGiaDat" type="xs:float" />
      <xs:element minOccurs="0" name="MaDonDH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuongDat" type="xs:int" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CtDonDH" nillable="true" type="tns:CtDonDH" />
  <xs:complexType name="ArrayOfCtDonDH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CtDonDH" nillable="true" type="tns:CtDonDH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCtDonDH" nillable="true" type="tns:ArrayOfCtDonDH" />
</xs:schema>