WinForm/Service References/PhieuNhapServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhieuNhap1Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhieuNhap1Service1_HienThiPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_HienThiPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_TimKiemPN_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemPN" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_TimKiemPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemPNResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_ThemPN_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPN" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_ThemPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPNResponse" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_Sua_TongTien_InputMessage">
    <wsdl:part name="parameters" element="tns:Sua_TongTien" />
  </wsdl:message>
  <wsdl:message name="IPhieuNhap1Service1_Sua_TongTien_OutputMessage">
    <wsdl:part name="parameters" element="tns:Sua_TongTienResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhieuNhap1Service1">
    <wsdl:operation name="HienThiPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/HienThiPhieuNhap" message="tns:IPhieuNhap1Service1_HienThiPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/HienThiPhieuNhapResponse" message="tns:IPhieuNhap1Service1_HienThiPhieuNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/TimKiemPN" message="tns:IPhieuNhap1Service1_TimKiemPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/TimKiemPNResponse" message="tns:IPhieuNhap1Service1_TimKiemPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/ThemPN" message="tns:IPhieuNhap1Service1_ThemPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/ThemPNResponse" message="tns:IPhieuNhap1Service1_ThemPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sua_TongTien">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/Sua_TongTien" message="tns:IPhieuNhap1Service1_Sua_TongTien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhieuNhap1Service1/Sua_TongTienResponse" message="tns:IPhieuNhap1Service1_Sua_TongTien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhieuNhap1Service1" type="tns:IPhieuNhap1Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/IPhieuNhap1Service1/HienThiPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemPN">
      <soap:operation soapAction="http://tempuri.org/IPhieuNhap1Service1/TimKiemPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPN">
      <soap:operation soapAction="http://tempuri.org/IPhieuNhap1Service1/ThemPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sua_TongTien">
      <soap:operation soapAction="http://tempuri.org/IPhieuNhap1Service1/Sua_TongTien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhieuNhap1Service1">
    <wsdl:port name="BasicHttpBinding_IPhieuNhap1Service1" binding="tns:BasicHttpBinding_IPhieuNhap1Service1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/PhieuNhap1Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>