WinForm/Service References/PhieuNhapServiceReference1/WcfUngDungWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhieuNhap" nillable="true" type="tns:ArrayOfPhieuNhap" />
  <xs:complexType name="PhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayNhap" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NhaSX_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PhieuNhap_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TenNhaSX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTien" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
</xs:schema>