WebForm/Service References/CartServiceReference/WcfUngDungWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUngDungWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartItem" nillable="true" type="tns:CartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartItem" nillable="true" type="tns:ArrayOfCartItem" />
  <xs:complexType name="CartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:SanPham" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartItem" nillable="true" type="tns:CartItem" />
  <xs:complexType name="SanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaoHanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonGia" type="xs:float" />
      <xs:element minOccurs="0" name="HDD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NhaSX_ID" type="xs:int" />
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TenNhaSX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanPham" nillable="true" type="tns:SanPham" />
</xs:schema>